@font-face {
    font-family: 'LatoBoldItalic';
    src: url('fonts/LatoBoldItalic.eot');
    src: url('fonts/LatoBoldItalic.eot') format('embedded-opentype'),
         url('fonts/LatoBoldItalic.woff2') format('woff2'),
         url('fonts/LatoBoldItalic.woff') format('woff'),
         url('fonts/LatoBoldItalic.ttf') format('truetype'),
         url('fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}
