@font-face {
    font-family: 'OswaldRegular';
    src: url('fonts/OswaldRegular.eot');
    src: url('fonts/OswaldRegular.eot') format('embedded-opentype'),
         url('fonts/OswaldRegular.woff2') format('woff2'),
         url('fonts/OswaldRegular.woff') format('woff'),
         url('fonts/OswaldRegular.ttf') format('truetype'),
         url('fonts/OswaldRegular.svg#OswaldRegular') format('svg');
}
