@font-face {
    font-family: 'OswaldBold';
    src: url('fonts/OswaldBold.eot');
    src: url('fonts/OswaldBold.eot') format('embedded-opentype'),
         url('fonts/OswaldBold.woff2') format('woff2'),
         url('fonts/OswaldBold.woff') format('woff'),
         url('fonts/OswaldBold.ttf') format('truetype'),
         url('fonts/OswaldBold.svg#OswaldBold') format('svg');
}
