@font-face {
    font-family: 'OswaldDemiBold';
    src: url('fonts/OswaldDemiBold.eot');
    src: url('fonts/OswaldDemiBold.eot') format('embedded-opentype'),
         url('fonts/OswaldDemiBold.woff2') format('woff2'),
         url('fonts/OswaldDemiBold.woff') format('woff'),
         url('fonts/OswaldDemiBold.ttf') format('truetype'),
         url('fonts/OswaldDemiBold.svg#OswaldDemiBold') format('svg');
}
