@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

.site-footer {
    border: none;
}
.services-group {
    background-color: #1f2835;
}

.site-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer ul li {}

.services-group .items {}

.site-footer ul li a {} 