@font-face {
  font-family: 'Lato-Heavy';
  src: url('Lato-Heavy.eot');
  src: url('Lato-Heavy.woff2') format('woff2'),
       url('Lato-Heavy.woff') format('woff'),
       url('Lato-Heavy.ttf') format('truetype'),
       url('Lato-Heavy.svg#Lato-Heavy') format('svg'),
       url('Lato-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

