@font-face {
    font-family: 'OswaldLight';
    src: url('fonts/OswaldLight.eot');
    src: url('fonts/OswaldLight.eot') format('embedded-opentype'),
         url('fonts/OswaldLight.woff2') format('woff2'),
         url('fonts/OswaldLight.woff') format('woff'),
         url('fonts/OswaldLight.ttf') format('truetype'),
         url('fonts/OswaldLight.svg#OswaldLight') format('svg');
}
